@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;

}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;


}

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.header {
    width: 100%;
    position: fixed;
    top: -1px;
    z-index: 100;
    background: white;
    padding: 0 50px;
    /* align-items: center;
    justify-content: center;
    display: flex; */

}

.header header {
    max-width: 2000px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0 auto;
}

header .upper-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff9e14;
    color: white;
    height: 39px;
    padding: 0 27px;
}

header .upper-nav .text {
    display: flex;
    margin-left: 47px;
    color: black;
}

header .upper-nav .text ul {
    display: flex;
    list-style: none;
    gap: 23px;
}

header .upper-nav .text li {
    text-decoration: none;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
}

header .upper-nav .text li a {
    text-decoration: none;
    color: black;
}

header .upper-nav .text li i {
    font-size: 15px;

}

header .upper-nav .text li span {}

header .upper-nav .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-right: 30px;
    color: black;
}

header .upper-nav .social-icon i {
    font-size: 22px;
    cursor: pointer;
}

header .navbar {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    box-shadow: 0px 9px 6px -12px #000000
}

.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logo i {
    font-size: 22px;
    margin-right: 19px;
    display: none;
}

.navbar .logo img {
    width: 250px;
}

.navbar .main-list i {
    display: none;
}

.navbar ul {
    display: flex;
    gap: 22px;

}

.navbar ul li {
    list-style: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease all;

}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar ul li a:hover {
    color: rgb(255, 158, 20);
    font-weight: 500;
}

.navbar .header-button button {
    width: 129px;
    height: 35px;
    background: transparent;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s ease-in all;
}

#open:hover {
    background: black;
    color: white;
}

.navbar .header-button ul {
    display: flex;
    gap: 22px;
}

.navbar .header-button ul li {
    list-style: none;
}

.navbar .header-button ul li i {
    font-size: 21px;
    cursor: pointer;
}

.navbar .cart {
    width: 377px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    box-shadow: 0px 0px 8px 0px #959595;
    background-color: white;
    transition: 0.2s e;
}

.navbar .active {
    right: 0;
}

.navbar .cart .cart-heading {
    padding: 34px 1px 11px 22px;
    font-size: 18px;
}

.navbar .cart .cart-close {
    font-weight: 600;
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 26px;
    cursor: pointer;
}

.navbar .cart .cart-details {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 24px;
}

.navbar .cart .cart-details img {
    width: 90px;
    height: 83px;
}

.navbar .cart .cart-details .product-name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 29px;
}

.navbar .cart .cart-details .product-name p {
    font-size: 13px;
    margin-left: 2px;
}

.navbar .cart .cart-details .product-name i {
    font-size: 14px;
}

.navbar .cart .cart-details .price-details {
    margin-left: 8px;
    font-size: 14px;
    margin-top: 6px;
    font-weight: 500;
}

.navbar .cart .cart-details .quantity {}

.navbar .cart .cart-details .price {}

.cart .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 23px;
}

.cart .total .text {}

.cart .total .text .total-price {}

.cart .cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 23px;
}

.cart .cart-btn a {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: black;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
    height: 42px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    border-radius: 4px;
}

/* Popup Css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.popup-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0 68px;

}

.popup-container.active {
    display: flex;
}

.pupup {
    background-color: white;
    padding: 2rem;
    width: 1000px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.pupup button {
    background-color: #fff;
    color: rebeccapurple;
    position: absolute;
    font-size: 2rem;
    top: 10px;
    right: 10px;
}



@media(max-width:955px) {
    header .upper-nav {
         height: 69px;
    }
    header .navbar{
        height: 80px;
    }
    .header {
        padding: 0  0px;
    }

    .header header {
        width: 100%;
    }
    header .upper-nav .text{
        margin-left: 0px;
    }
    header .upper-nav .text ul{
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
         
    }

    .navbar .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px..................................;
    }

    .navbar .header-button button {
        display: none;
    }

    .navbar .logo img {
        width: 171px;
    }

    .navbar .main-list {
        display: flex;
        width: 200px;
        height: 100vh;
        background: white;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        position: absolute;
        left: -100%;
        top: 0px;
        padding: 43px 49px 62px 15px;
        box-shadow: 0px 0px 6px 0px black;
    }

    .navbar .a {
        left: 0;
    }

    .navbar .logo i {
        display: block;
        cursor: pointer;
    }

    .navbar .main-list i {
        position: absolute;
        right: 36px;
        top: 22px;
        font-size: 22px;
        display: block;
        cursor: pointer;
    }

    .main-list .main-list-remove {
        display: block;
    }
}

/* ========== S-Two styling */